{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container-fluid">
    <div>
        
        <img class="rounded-circle article-img" src="{{url_for('static',filename='blog.user.profile_pic_path')}}">
        {{ blog.user.username }}
        <b>{{blog.title}}.</b> <br><br>
        <p>{{blog.blog}}</p>
        {{ blog.date.strftime('%Y-%m-%d') }}

    </div>
    <div class="comment">

        {{ wtf.quick_form(form) }}

    </div><br><br>
    {% for comment in comments %}
    <p class="comments">{{comment.comment}}</p>
    {% if comment.user == current_user %}
    <button class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
    {% endif %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('main.delete_comment', id = comment.id) }}" method="POST">
                 <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}